:root{
    --shine-color: #c2bfb4;
    --screen-color: #272b2a;
    --screen-shadow: #5a5f5a;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body{
    background-color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main > div{
    width: 710px;
    height: 500px;
    background: linear-gradient(#84735e,#4f4138);
    border-radius: 40px 30px 130px 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shine-color);
    border-radius: 40px 30px 130px 67px;
    z-index: -1;
    bottom: 3px;

}

main > div > div:nth-of-type(1){
    background-color: black;
    border: 1px solid #4e4d4d;
    width:46px;
    height:105px;
    border-radius: 10px;
    top: -23px;
    left: 0;
    position: absolute;
    transform: rotate(9deg);
    box-shadow: inset 0px 2px var(--shine-color);
}

main > div div:nth-of-type(2){
   background: linear-gradient(#84735e, #5a5043);
   height: 500px;
   width: 500px;
   bottom: 63px;
   right: 49px;
   bottom: 72px;
   border-radius: 110px 70px 77px 10px;
   box-shadow: inset 0px 4px var(--shine-color);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 48px 60px 48px;
}

main > div div:nth-of-type(2) > div{
    background-color: var(--screen-color);
    height: 92%;
    width: 100%;
    border-radius: 51px;
    box-shadow:inset 0px 13px var(--screen-shadow);
    padding: 37px;
}

main > div div:nth-of-type(2) div div{
    background-color: black;
    height: 100%;
    width:100%;
    border-radius: 18px;
}

/* main > div div:nth-of-type(1){
    width: 675px;
    height: 100%;
    border-radius: 70px;
    background-color: #272b2a;
} */