:root{
    --shine-color: #c2bfb4;
    --screen-color: #272b2a;
    --screen-shadow: #5a5f5a;
    --inner-screen-shadow: #333333;
    --screen-shadow-bottom: #3a3e41;
    --lower-part-color: #746551;
    --green: #8df776;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

@font-face {
    font-family: 'Droid Sans';
    src: url(../assets/fonts/DroidSans.ttf);
}

body{
    background-color: black;
}

label{
    position:relative;
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 50%;
    display: flex;
    transition: 0.4s;
}

label::after{
    content: "POWER";
    color: var(--shine-color);
    font-size: 0.8em;
    position: absolute;
    left: 35px;
    bottom: 16px;
    transform: rotate(7deg);
    font-family: monospace;
}

input[type="checkbox"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

input[type="checkbox"]:checked + label{
    background: radial-gradient(white,yellow,orange,red);
    box-shadow: 1px 1px 23px 2px red;
    transition: 0.4s;
}


main:has(input[type="checkbox"]:checked) div > div:nth-of-type(2) div:nth-of-type(1) div p:nth-of-type(1) {
    animation: blink-caret .75s step-end infinite, typing 3.5s steps(40, end);
    animation-fill-mode: forwards;
    /* width: auto; */
}

main:has(input[type="checkbox"]:checked) div > div:nth-of-type(2) div:nth-of-type(1) div p:nth-of-type(2) {
    animation: blink-caret .75s step-end infinite, typing2 0.5s steps(40, end);
    animation-fill-mode: forwards;
    animation-delay: 3.8s;
}

main:has(input[type="checkbox"]:checked) div > div:nth-of-type(2) div:nth-of-type(1) div p:nth-of-type(3) {
    animation: typing3 0.5s steps(40, end);
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main > div{
    width: 710px;
    height: 500px;
    background: linear-gradient(#84735e,#4f4138);
    border-radius: 40px 30px 130px 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shine-color);
    border-radius: 40px 30px 130px 67px;
    z-index: -1;
    bottom: 3px;

}

main > div > div:nth-of-type(1){
    background-color: black;
    border: 1px solid #4e4d4d;
    width:46px;
    height:105px;
    border-radius: 10px;
    top: -23px;
    left: 0;
    position: absolute;
    transform: rotate(9deg);
    box-shadow: inset 0px 2px var(--shine-color);
}

main > div > div:nth-of-type(2){
   background: linear-gradient(#84735e, #5a5043);
   height: 525px;
   width: 500px;
   bottom: 63px;
   right: 49px;
   bottom: 72px;
   border-radius: 110px 70px 77px 10px;
   box-shadow: inset 0px 4px var(--shine-color);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 35px 83px 35px;
}


main > div > div:nth-of-type(2) > div:nth-of-type(1){
    background-color: var(--screen-color);
    height: 92%;
    width: 100%;
    border-radius: 51px;
    box-shadow:inset 0px 13px var(--screen-shadow), inset 0px -4px var(--screen-shadow-bottom);
    padding: 37px;
    padding-bottom: 50px;
}

main > div > div:nth-of-type(2) div:nth-of-type(2){
    height: 4.1em;
    width: 22.5em;
    background-color: var(--lower-part-color);
    position: absolute;
    bottom: 33px;
    left: 84px;
    border-radius: 0px 0px 13px 13px;
    box-shadow: 0px 2px 5px -2px var(--inner-screen-shadow);
}

main > div > div:nth-of-type(2) div:nth-of-type(2) div{
    position: absolute;
    right: 50px;
    bottom: 10px;
} 

main > div > div:nth-of-type(2) div:nth-of-type(1) div{
    background-color: black;
    height: 100%;
    width:100%;
    border-radius: 18px;
    box-shadow: inset 0px 0px 0px 5px var(--inner-screen-shadow);
    padding: 23px;
}


/* Typing animation */
/* Typing animation voor de eerst p */
main > div > div:nth-of-type(2) div:nth-of-type(1) div p{
    font-family: 'Droid Sans', monospace;
    text-transform: uppercase;
    overflow: hidden;
    color:var(--green);
    font-size: 0.5em;
    border-right: 0.6em solid var(--green);
    white-space: nowrap;
    width: 0;
    animation: blink-caret .75s step-end infinite;
}

main > div > div:nth-of-type(2) div:nth-of-type(1) div p:nth-of-type(1){
    text-align: center;
    margin-bottom: 6em;
}


main > div > div:nth-of-type(2) div:nth-of-type(1) div p:nth-of-type(1)::before{
    content: "******************";
    color: var(--green);
    letter-spacing: 0.2em;
}

main > div > div:nth-of-type(2) div:nth-of-type(1) div p:nth-of-type(1)::after{
    content: "******************";
    color: var(--green);
    letter-spacing: 0.2em;
}

/* Typing animation voor de tweede p */
/* main > div > div:nth-of-type(2) div:nth-of-type(1) div p:nth-of-type(2){
    width: 0;
} */



@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--green); }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%; border: none; }
  }
  
@keyframes typing2 {
    from { width: 0 }
    to { width: 14em }
  }

@keyframes typing3 {
    from { width: 0 }
    to { width: 6.5em }
  }